.profile {
  background: #202020;
}

.profile__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  margin: auto;
  padding: 74px 0 70px;
}

.profile__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
  margin: 0 0 123px;
  text-align: center;
}

.profile__name {
  display: flex;
  justify-content: space-between;
  width: 410px;
  border-bottom: 1px solid #424242;
  padding-bottom: 16px;
  position: relative;
}

.profile__email {
  display: flex;
  justify-content: space-between;
  width: 410px;
  padding-top: 17px;
  position: relative;
}

.profile__key {
  font-weight: 500;
  font-size: 11px;
  line-height: 1.18;
  margin: 0;
}

.profile__value {
  font-size: 11px;
  line-height: 1.18;
  margin: 0;
}

.profile__edit {
  margin-bottom: 16px;
  border: none;
  color: white;
  font-size: 13px;
  line-height: 1.23;
  background: #202020;
  cursor: pointer;
  transition: opacity 0.3s;
  padding: 0;
}

.profile__edit:hover {
  opacity: 0.6;
}

.profile__logout {
  text-decoration: none;
  color: #EE3465;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.23;
  transition: opacity 0.3s;
}

.profile__logout:hover {
  opacity: 0.6;
}

.profile__button {
  border: none;
  color: white;
  border-radius: 3px;
  background: #4285F4;
  margin-bottom: 3px;
  font-weight: 500;
  margin-top: 220px;
  font-size: 14px;
  line-height: 1.21;
  width: 100%;
  height: 45px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.profile__button_disabled {
  color: #C2C2C2;
  background-color: #F8F8F8;
  cursor: auto;
}

.profile__button:hover {
  opacity: 0.6;
}

.profile__button_disabled:hover {
  opacity: 1;
}

.profile__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 220px;
}

.profile__input {
  background-color: #202020;
  border: none;
  height: 13px;
  padding: 0;
  font-size: 11px;
  line-height: 1.18;
  color: white;
  text-align: right;
}

.profile__input_error {
  color: #EE3465;
}

.profile__error {
  color: #EE3465;
  font-size: 10px;
  line-height: 1.2;
  position: absolute;
  max-width: 410px;
  top: 15px;
  right: 0;
  text-align: right;
}

.profile__error_type_email {
  top: 32px;
}

.profile__input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px #202020 inset;
  -webkit-text-fill-color: white;
}

.profile__input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px #202020 inset;
  -webkit-text-fill-color: white;
} 

@media screen and (max-width: 1279px) {
  .profile__container {
    padding: 236px 0 269px;
  }

  .profile__title {
    margin-bottom: 96px;
  }

  .profile__info {
    margin-bottom: 210px;
  }
}

@media screen and (max-width: 767px) {
  .profile__container {
    padding: 70px 0 40px;
  }

  .profile__title {
    margin-bottom: 80px;
    max-width: 310px;
  }

  .profile__info {
    margin-bottom: 379px;
  }
  
  .profile__name {
    width: 260px;
  }

  .profile__email {
    width: 260px;
  }
}
