.promo {
  width: 100%;
  background: #073042;
}

.promo__container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 75px 70px;
  max-width: 1280px;
  margin: auto;
}

.promo__texts {
  display: flex;
  flex-direction: column;
}

.promo__title {
  font-size: 50px;
  line-height: 1.16;
  font-weight: 400;
  max-width: 640px;
  margin: 0 0 36px;
}

.promo__subtitle {
  font-size: 13px;
  line-height: 1.21;
  max-width: 310px;
  opacity: 0.5;
  margin: 0;
}

.promo__link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  margin: 146px 0 0;
  border: solid 1px white;
  width: 129px;
  height: 36px;
  font-size: 12px;
  line-height: 1.33;
  border-radius: 3px;
  transition: opacity 0.3s;
  box-sizing: border-box;
}

.promo__link:hover {
  opacity: 0.6;
}

.promo__image {
  background-image: url('../../images/promo.svg');
  width: 310px;
  height: 304px;
}

@media screen and (max-width: 1279px) {
  .promo__container {
    flex-direction: column-reverse;
    align-items: center;
    padding: 140px 0 76px;
  }

  .promo__image {
    margin-bottom: 48px;
  }

  .promo__texts {
    align-items: center;
    text-align: center;
  }

  .promo__title {
    max-width: 680px;
    font-size: 40px;
    line-height: 1.25;
    margin-bottom: 22px;
  }

  .promo__subtitle {
    max-width: 260px;
  }

  .promo__link {
    margin-top: 92px;
  }
}

@media screen and (max-width: 767px) {
  .promo__container {
    padding: 70px 0 30px;
  }

  .promo__image {
    width: 210px;
    height: 206px;
    background-size: contain;
    margin-bottom: 44px;
  }

  .promo__title {
    font-size: 30px;
    line-height: 1.27;
    max-width: 300px;
    letter-spacing: -0.04em;
    margin-bottom: 24px;
  }

  .promo__link {
    margin-top: 80px;
  }
}
