.main {
  width: 100%;
}

.section__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.22;
  margin: 0;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #DADADA;
  padding-bottom: 23px;
}
