.header {
  background: #202020;
  width: 100%;
}

.header_main {
  background: #073042;
}

.header__container {
  box-sizing: border-box;
  height: 74px;
  padding: 0 70px;
  max-width: 1280px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #202020;
  position: relative;
}

.header__container_main {
  background: #073042;
}

.header__logo {
  background-image: url('../../images/logo.svg');
  width: 38px;
  height: 38px;
}

.header__auth {
  display: flex;
}

.header__signup {
  display: flex;
  text-decoration: none;
  color: white;
  margin: 0 30px 0 0;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.33;
  transition: opacity 0.3s;
  font-weight: 500;
}

.header__signup:hover {
  opacity: 0.6;
}

.header__signin {
  display: flex;
  width: 76px;
  height: 32px;
  background-color: #3DDC84;
  text-decoration: none;
  color: black;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.33;
  border-radius: 3px;
  transition: opacity 0.3s;
  font-weight: 500;
}

.header__signin:hover {
  opacity: 0.6;
}

.header__links {
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin: auto;
  left: calc(100% / 2 - 105px);
}

.header__link {
  text-decoration: none;
  color: white;
  font-size: 13px;
  line-height: 1.38;
  transition: opacity 0.3s;
}

.header__link:first-of-type {
  margin-right: 16px;
}

.header__link_active {
  font-weight: 500;
}

.header__account {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  transition: opacity 0.3s;
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: space-between;
}

.header__link:hover {
  opacity: 0.6;
}

.header__account:hover {
  opacity: 0.6;
}

.header__icon {
  background-color: #313131;
  background-image: url('../../images/account.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 26px;
  height: 30px;
  border-radius: 4px;
}