.about {
  background-color: #202020;
  padding: 110px 70px;
}

.about__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.22;
  margin: 0 0 23px;
}

.about__line {
  background-color: #DADADA;
  border: none;
  height: 1px;
  margin: 0 0 70px;
}

.about__texts {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  grid-row-gap: 26px;
  grid-column-gap: 40px;
  margin: 0 0 110px 0;
}

.about__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
}

.about__text{
  font-size: 14px;
  line-height: 1.42;
  margin: 0;
}

.about__time {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(2, 36px);
}

.about__one {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3DDC84;
  color: black;
  margin: 0;
}

.about__four {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #303030;
  text-align: center;
  margin: 0;
}

.about__backend {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8B8B8B;
  text-align: center;
  margin: 0;
}

.about__frontend {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8B8B8B;
  text-align: center;
  margin: 0;
}
