.login {
  background: #202020;
}

.login__container {
  margin: auto;
  max-width: 396px;
  padding: 70px 0;
}

.login__logo {
  background: url('../../images/logo.svg');
  width: 38px;
  height: 38px;
}

.login__title {
  margin: 40px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
}

.login__form {
  display: flex;
  flex-direction: column;
}

.login__label {
  color: #8B8B8B;
  font-size: 10px;
  line-height: 1.2;
  margin: 0 0 10px;
}

.login__label:first-of-type {
  margin-top: 0;
}

.login__input {
  padding: 15px;
  font-size: 13px;
  line-height: 1.23;
  border: none;
  border-radius: 8px;
  background: #2F2F2F;
  color: white;
}

.login__error {
  color: #EE3465;
  font-size: 10px;
  line-height: 1.2;
  margin: 10px 0 0;
}

.login__error_hidden {
  visibility: hidden;
}

.login__button {
  border: none;
  color: white;
  border-radius: 3px;
  background: #4285F4;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  height: 45px;
  margin: 159px 0 16px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.login__button:hover {
  opacity: 0.6;
}

.login__text {
  font-size: 14px;
  line-height: 1.21;
  margin: auto;
  color: #8B8B8B;
}

.login__link {
  text-decoration: none;
  color: #4285F4;
  margin-left: 6px;
  transition: opacity 0.3s;
}

.login__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1279px) {
  .login__container {
    padding: 232px 0  ;
  }
}

@media screen and (max-width: 767px) {
  .login__container {
    padding: 56px 30px 30px;
  }

  .login__logo {
    margin: auto;
  }

  .login__title {
    text-align: center;
  }

  .login__button {
    margin: 247px 0 14px;
    font-size: 12px;
    line-height: 15px;
  }

  .login__text {
    font-size: 12px;
    line-height: 15px;
  }

  .login__link {
    margin-left: 7px;
  }
}