.about-me {
  background-color: #202020;
}

.about-me__container {
  margin: auto;
  max-width: 1280px;
  padding: 120px 70px 50px;
  box-sizing: border-box;
}

.about-me__block {
  display: flex;
  margin-top: 66px;
  justify-content: space-between;
}

.about-me__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-me__texts {
  max-width: 600px;
}

.about-me__name {
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
  letter-spacing: -0.04em;
  margin: 0 0 18px;
}

.about-me__about {
  font-size: 18px;
  line-height: 1.11;
  margin: 0 0 26px;
  font-weight: 500;
}

.about-me__text {
  font-size: 14px;
  line-height: 1.57;
  margin: 0;
}

.about-me__image {
  width: 270px;
  height: 327px;
  background: url('../../images/photo.jpeg');
  border-radius: 10px;
}

.about-me__link {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  transition: opacity 0.3s;
}

.about-me__link:first-of-type {
  margin-right: 20px;
}

.about-me__link:hover {
  opacity: 0.6;
}